<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.harshitagg.AndroidTutorial"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntentExampleActivity"
            android:label="@string/intent_example"
            android:parentActivityName="com.harshitagg.AndroidTutorial.activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harshitagg.AndroidTutorial.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.AutoCompleteExampleActivity"
            android:label="@string/intent_example"
            android:parentActivityName="com.harshitagg.AndroidTutorial.activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harshitagg.AndroidTutorial.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".activity.DisplayMessageActivity"
            android:label="@string/intent_example"
            android:parentActivityName="com.harshitagg.AndroidTutorial.activity.IntentExampleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harshitagg.AndroidTutorial.activity.IntentExampleActivity"/>
        </activity>
    </application>
</manifest>
